In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# This is the 'Census Income Data Set' downloaded from http://archive.ics.uci.edu/ml/datasets/Census+Income
# It has been slightly modified for this task. 
# It contains various features and >30K observations labelled according to yearly income (>50K or <=50K)

census = pd.read_csv('wage_census.csv')
census.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,capital-gain,capital-loss,hours-per-week,native-country,>50K,Female
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,2174,0,40,ASU,False,0
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,0,0,13,setatS-detinU,False,0
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,0,0,40,setatS-detinU,False,0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,0,0,40,ASU,False,0
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,0,0,40,ASU,False,1

In [3]:
# How many records and features do we have in the dataset?
# Are there any missing values?
# If so, how many? What would you do with them? (Dropping them for the exercise is ok in interest of time)

In [4]:
# There is a native-country field, How many different countries are there?
# Anything wrong with the country names?
# Can you clean up the country names?
# Can you give a summary statistic? e.g. most common country, rank etc.

In [5]:
# Draw a bar chart (or similar) of the '>50K' distribution per country.

In [6]:
# What can you say about the correlation between 'Female' and '>50K'?
# Is the fraction of '>50K' higher for women or for men?

In [7]:
# Develop a model to predict the wage category using the given dataset.
# How many categorical predictors do we have? How should we handle those?
# How do you handle previously unseen categories in new observations?

# Move on by loading data that is already dummy variable'd:
census_dummies = pd.read_csv('wage_census_dummies.csv')

In [8]:
# We are going to split the dataset in train/test.
# What is a reasonable value for test_size value below for the given dataset?
# What possibilities exist to increase the number of test observations?
# How would you split if we had e.g. 1e6 observations available?

In [9]:
# Pick an ML solution that you would use for this problem.
# Explain the solution, including pros/cons. How would you explain the chosen model to a 6 year old?
# Train the model.

In [10]:
# How do you assess and visualize the performance of your model?
# How would you do that for a regression problem?

In [11]:
# How can you check whether the model overfits?
# Explain the bias/variance trade-off.
# How do you combat overfitting?

In [12]:
# We received additional data with new customers and predict the income class ('>50K') with our model.
# We want to launch a marketing campaign targeting only people with '>50K' yearly income.
# We want to minimize the cost of the campaign by targeting the optimal sub-sample of our customer base.
# How would you go about it?